baseline.bam filter=lfs diff=lfs merge=lfs -text
bucket-00.bam filter=lfs diff=lfs merge=lfs -text
bucket-01.bam filter=lfs diff=lfs merge=lfs -text
bucket-02.bam filter=lfs diff=lfs merge=lfs -text
bucket-03.bam filter=lfs diff=lfs merge=lfs -text
